@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
    --primary-color: #222;
    --second-color: #0d47a1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background: linear-gradient(var(--second-color) 50%, var(--primary-color)50%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 400px;
    padding: 20px 20px 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 300%;
    font-style: italic ;
    text-shadow: 2px 2px 2px rgba(104, 107, 107, 0.993);
    color: #333;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

textarea, select {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 50%;
    padding: 10px;
    margin: 5px 0 15px;
    font-size: 15px;
    initial-letter: 1px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgb(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


button:hover {
    background-color: #434343;
}

textarea[read-only]{
    background-color: #f8f8f8;
    color: #333;
    font-size: 18px;
}

#resetButton{
    margin-left: 10px;
}

#resetButton:hover{
    background-color: #434343;
}