@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}

.card{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 25px 50px rgb(0, 0, 0, 0.15);
}

.card img{
    /* object-fit: fit; */
    width: 300px;
    height: 400px;
    margin-top: px;
    border-radius: 20px;
    object-fit: cover;
}

.card span{
    position: absolute;
    width: 150px;
    height: 150px;        
    /* background: #f00; */
    top: -10px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card span::before{
    content: 'Top Hit';
    position: absolute;
    width: 150%;
    height: 40px;
    background: #62baea;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card span::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4a98bf;
    bottom: 0;
    left: 0;
    z-index: -1;
    box-shadow: 140px -140px #4a98bf;
}