*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-color: rgb(80, 238, 225);
}

span{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url(./assets/img1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    pointer-events: none;
}