@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');


:root{
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #AEE1E1;
    --light-main: #DEF5E5;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --curr-color: #0000ff;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;

}

.dark{
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-text: var(--dark-text);
}

.light{
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-text: var(--light-text);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    place-items: center;
    font-family: var(--font-family);
    background-color: var(--bg-body);
    user-select: none;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    color: var(--color-text);
}

.calendar{
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    position: relative;
    min-width: 300px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.light .calendar{
    box-shadow: var(--shadow);
}

.calendar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    padding: 10px;
    margin-top: 20px;
}

.calendar-body{
    padding: 10px;
}

.calendar-week-day{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    height: 50px;
}

.calendar-week-day div{
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-text);
}

.calendar-days div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}


.calendar-days div span{
    position: absolute;
}

.calendar-days div:hover span{ 
    transition: width .2s ease-in-out,
                height .2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3){
    width: 2px;
    height: 0;
    background-color: var(--color-text);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3){
    height: 100%;
}


.calendar-days div span:nth-child(1){
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3){
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4){
    width: 0;
    height: 2px;
    background-color: var(--color-text);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4){
    width: 100%;
}

.calendar-days div span:nth-child(2){
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4){
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2){
    transition-delay: 0.2s ease-in-out;
}

.calendar-days div:hover span:nth-child(3){
    transition-delay: 0.4s ease-in-out;
}

.calendar-days div:hover span:nth-child(4){
    transition-delay: 0.6s ease-in-out;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover{
    background-color: var(--curr-color);
    color: var(--white);
    border-radius: 30%;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px var(--curr-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.calendar-days div.curr-date:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--curr-color);
}

.dark .calendar-days div.curr-date{
    background-color: red;
    color: var(--dark-text);
    box-shadow: 0 0 5px red;
}

.dark .calendar-days div.curr-date:hover{
    background-color: red;
    color: var(--dark-text);
    box-shadow: 0 0 20px rgb(255, 0, 0),
                0 0 30px #ff9999;
}

.calendar-days div.curr-date span{
    display: none;
}

.month-picker{
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover{
    background-color: var(--color-hover);
}

.year-picker{
    display: flex;
    align-items: center;
}

.year-change{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover{
    background-color: var(--color-hover);
}

.calendar-footer{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.today-info{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s ease-out; /* Smooth transition */
}

.today-info i{
    margin-right: 15px;
    scale: 1.2;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s ease-out;
    animation: reverseRotate 0.85s ease-in-out forwards;
    cursor: pointer;
    padding: 10px;
}

.today-info span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s ease-out; /* Smooth transition */
    animation: zoomOut 0.85s ease-in-out forwards;
}

/* Define keyframes for smooth 360-degree rotation and scaling */
@keyframes smoothRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(-360deg) scale(1.3); /* End of hover (full rotation + scale) */
    }
}

/* Smooth transition for un-hover effect (when scale and rotation should reverse slowly) */
@keyframes reverseRotate {
    0% {
        transform: rotate(360deg) scale(1.3); /* Start from final hover state */
    }
    100% {
        transform: rotate(0deg) scale(1); /* Return to original state */
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); /* End of hover (full rotation + scale) */
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.1); /* Start from final hover state */
    }
    100% {
        transform: scale(1); /* Return to original state */
    }
}

/* Apply animation on hover */


@media (hover: hover) and (pointer: fine) {
    .today-info i:hover {
        animation: smoothRotate 0.85s ease-in-out forwards;
        color: #228B22;
    }
    /* }
    .today-info span:hover{
        cursor: pointer;
        background-color: transparent;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
        animation: zoomIn 0.85s ease-in-out forwards;
    } */
}



.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.toggle i{
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
    margin-right: 15px;
    scale: 1.2;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* 
    transform: animate 0.5s ease-in-out; */
}

.toggle i.fa-moon, .toggle i.fa-sun {
    opacity: 1;
    transform: scale(1.2);
}

.toggle i.fade-out {
    opacity: 0;
    transform: scale(0.1);
}

.toggle span{
    margin-right: 10px;
    color: var(--color-text);
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toggle span.fade-out {
    opacity: 0;
    transform: scale(0.1);
}

.toggle span.fade-in {
    opacity: 0;
    transform: scale(1.2);
}

/* Fade animation classes */
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease;
}


.dark-mode-switch{
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.dark-mode-switch-ident{
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident{
    top: 2px;
    left: calc(2px + 50%);
}

.dark .calendar span{
    color: var(--dark-text);
}

.dark i{
    color: var(--dark-text);
}

.month-list{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    transform: scale(2);
    visibility: hidden;
    pointer-events: none;
    border-radius: 15px;
}

.month-list.show{
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    pointer-events: all;
    transition: all 0.5s ease-in-out;
}

.month-list.hide {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: scale(2);
}

.month-list > .month-item{
    display: grid;  
    place-items: center;
    animation: to-top 0.5s forwards;
    width: 100%;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: var(--bg-second);
    transition: all 0.2s ease-in-out;
    color: var(--color-text);

}

.month-list > .month-item > .month-item:hover{
    background-color: var(--color-hover);
    color:  var(--color-text);
    border-radius: 50%;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@keyframes to-top{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes to-down{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

.month-list.show > .month-item:hover{
    background-color: var(--color-hover);
    color: var(--color-text);
    border-radius: 50%;
    font-weight: 600;
    font-size: 15px;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.current-month{
    background-color: rgb(58, 253, 201);
    background-color: red;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.month-list > .month-item.current-month{
    background-color: var(--curr-color);
    color: var(--white);
}

.date-result{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-text);
    padding: 20px;
}
.date-result span{
    font-weight: 400;
    color: var(--curr-color);
    display: flex;
    font-size: 20px;
}

.dark .date-result span{
    color: var(--dark-text);
    font-weight: 400;
    display: flex;
    font-size: 20px;
}

.resetButton{
    display: block;
    justify-content: center;
    align-items: center;;
    background-color: var(--bg-second);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
}

.dark .resetButton{
    background-color: var(--dark-second);
}
    
@media (hover: hover) and (pointer: fine) {
    .resetButton:hover {
    background-color: #01f5dd;
    color: var(--color-text);
    position: relative;
    cursor: pointer;
    transform: scale(1.5);
    }
    .dark-mode-switch:hover{
        background-color: #666666;
        scale: 1.1;
        transition: all 0.3s ease-in-out;
    }
}

.resetButton:active{
    transform: scale(1.2);
    background-color: #01f5dd;
    color: var(--color-text);
}

.header {
    cursor: pointer;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.header h1 {
    font-size: 36px;
    padding: 10px;
    font-family: "Gloria Hallelujah", cursive;
}

.header:hover{
    background-color: #01f5dd;
    transform: scale(1.1);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-todo{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-size: 2em;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
    .toggle-todo:hover{
        padding: 10px;
        transform: scale(1.05);
    }
}

.toggle-todo.fade {
    transform: scale(0.5);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.toggle-todo.enable {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toggle-todo.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: red !important;
}


.toggle-todo.vibrate {
    animation: vibrate 0.3s linear infinite;  /* add vibrate effect when clicked */
}

/* define vibrate animation */
@keyframes vibrate {
    0% { transform: translates(0, 0); }
    25% { transform: translate(-10px, -10px); } /* Di chuyển xa hơn về phía trái */
    50% { transform: translate(10px, 10px); }  /* Di chuyển xa hơn về phía phải */
    75% { transform: translate(-10px, -10px); }
    100% { transform: translate(0, 0); }
}




/* ============== */
.hover-box {
    padding: 20px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hover-box.active {
    background-color: #2ecc71;  /* Màu xanh khi di chuột trong thời gian đủ */
}

/* Context menu styling */
.context-menu {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
}

.context-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.context-menu ul li {
    padding: 12px 20px;
    cursor: pointer;
}

.context-menu ul li:hover {
    background-color: #555;
}

.context-menu:hover ul li{
    border-radius: 8px;
}

.calendar-day-date {
    position: relative;
    /* Các kiểu khác cho calendar-day-date */
}

.calendar-day-date.active {
    pointer-events: none; /* Không cho phép calendar-day-date nhận sự kiện khi context menu hiển thị */
}

/* ---------------------------------- */

/* Style cho modal */
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Đảm bảo modal nằm trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Thêm thanh cuộn nếu nội dung lớn hơn modal */
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    
    
    /* display: flex; */
    opacity: 0;  /* Ban đầu opacity là 0 (ẩn modal) */
    transform: scale(0.8);  /* Ban đầu modal bị thu nhỏ */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Hiệu ứng cho opacity và transform */
}

.modal.show {
    opacity: 1;  /* Khi modal mở, opacity trở lại 1 */
    transform: scale(1);  /* Khi modal mở, scale về kích thước bình thường */
  }

/* Nội dung modal */
.modal-content {
    min-width: 360px;
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    max-width: 600px; /* Đặt chiều rộng tối đa cho modal */
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
    
}

.modal-content h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 15px;
    color: #333;
}

/* Nút đóng */
.close {
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    transition: all 0.3s ease-in-out;
}


.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


#event-form {
    min-width: 260px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

#event-form .event-type{
    width: auto;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    resize: none;
    transition: all 0.05s ease-in-out;
}

#event-form h3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#event-form h3 span{
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    color: #333;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    margin: 5px;
}

#event-form h3 span:hover{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border-radius: 10px;
}

#event-form label{
    font-weight: bold;
}

#event-form label span {
    font-size: 18px;
    color: #333;
    margin-left: 5px;
    border-radius: 10px;
}

#event-form input,
#event-form textarea,
#event-form select {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    transition: all 0.05s ease-in-out;
    font-family: inherit;
}

/* ------------------------------event color------------------------------------------ */

#event-form input[type="color"]{
    width: 80px;
    height: 80px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

.color-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid #ccc;
    /* border: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

#event-form input:focus,
#event-form textarea:focus,
#event-form select:focus {
    border-color: #007BFF;
    outline: 2px solid #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.event-type-color {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-type-color .color-options {
    display: flex;
    align-items: center;
    cursor: pointer;    
    padding: 5px 7px;
    border-radius: 10px;
    background-color: #e8e8e8;
    transition: all 0.3s ease-in-out;
}

.event-type-color .color-options:hover {
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    
}

.event-type-color .color-options:hover i.fa-caret-down {
    transform: rotate(360deg) scale(1.4);
    transition: all 0.5s ease-in-out;
}

.event-type-color .color-option {
    width: 20px;
    height: 20px;
    background-color: #1a73e8;
    display: inline-block;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.event-type-color .hidden-colors {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
    background-color: rgb(152, 152, 152);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.color-option.selected {
    scale: 1.3;
    border: 2px solid #ccc;
    /* border: 2px solid #000; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

#toggle-colors {
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}


.event-type-color i.fa-caret-down {
    font-size: 14px;
    margin-left: 5px;
    transition: transform 0.5s ease;
}

.event-type-color .color-options.open i.fa-caret-down {
    transform: rotate(180deg);
}

.color-option {
    width: 30px; /* Ensure width is set */
    height: 30px; /* Ensure height is set */
    display: inline-block; /* Ensure colors are displayed side by side */
    cursor: pointer; /* Indicate the color is clickable */
    border-radius: 50%; /* Optional: Makes the color blocks round */

}

.color-options{
    position: relative;
}

.color-options .hidden-colors {
    display: none;
    position: absolute;
    left: 50%; /* Đẩy sang giữa */
    transform: translateX(-50%) scale(1);
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.color-options .hidden-colors.show {
    display: inline-block;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    
}

.color-options .hidden-colors .color-option:hover {
    /* border-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
    scale: 1.2;
    border: none;
    padding: 10px 5px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    border-radius: 5px;
}

.hidden-colors .color-option:first-child {
    margin-top: 2px;
}

.hidden-colors .color-option:last-child {
    margin-bottom: -5px;
}


/* Color variants */
.color-option.color-default { background-color: #1a73e8; }
.color-option.color-red { background-color: #d50000; }
.color-option.color-orange { background-color: #f4511e; }
.color-option.color-yellow { background-color: #f6bf26; }
.color-option.color-green { background-color: #0b8043; }
.color-option.color-teal { background-color: #009688; }
.color-option.color-blue { background-color: #3f51b5; }
.color-option.color-purple { background-color: #8e24aa; }
.color-option.color-pink { background-color: #e67c73; }

#event-form button {
    margin: 15px;
    padding: 10px;
    width: 30%;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 70%;
}


#event-form button:hover {
    background-color: #0056b3;
}


/* -------------------------event repeat----------------------------- */


.event-type-repeat {
  display: flex;
  align-items: center;
  gap: 10px;
}

.event-type-repeat .repeat-options {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;    
    padding: 5px 7px;
    border-radius: 10px;
    background-color: #ededed;
    transition: all 0.3s ease-in-out;
}

.event-type-repeat .repeat-options:hover {
    /* background-color: #ccc; */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    
}

.event-type-repeat i.fa-repeat{
    font-size: 14px;
    margin-left: 10px;
    transition: transform 0.5s ease;
}



.repeat-option {
    width: auto ; /* Ensure width is set */
    height: auto; /* Ensure height is set */
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: inline-block; /* Ensure colors are displayed side by side */
    cursor: pointer; /* Indicate the color is clickable */
    border-radius: 50%; /* Optional: Makes the color blocks round */
}

.repeat-options{
    transition: all 0.3s ease-in-out;
    position: relative;
}


.repeat-options:hover i.fa-repeat {
    transform: rotate(360deg) scale(1.4);
    transition: all 0.5s ease-in-out;
}


.repeat-options .hidden-event.show{
    display: inline-block;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.hidden-event{
    display: none;
    position: absolute;
    top: 40px;
    z-index: 10;
    background-color: rgb(152, 152, 152);
    border: 1px solid #ccc;
    padding: 5px;
}

.repeat-options .hidden-event {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 100%;
    left: 50%; /* Đẩy sang giữa */
    transform: translateX(-50%) scale(1);
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    width: 100%;
    
}

.repeat-options .hidden-event .repeat-option {
    padding: 10px 0;
    display: block;
    width: 100%;
    text-align: center;
}

.repeat-options .hidden-event.show .repeat-option {
    display: inline-block;
    text-align: center;
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease-in-out;

}


.repeat-options .hidden-event .repeat-option:hover {
    border: none;
    padding: 10px 5px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    background-color: red;
}


/* ----------------------------event email----------------------------- */


.event-type-email .email-popup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

#warning-message{
    color: red;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    display: none; /* Ẩn mặc định */
}

.email-popup {
    border: red;
    border-radius: 10px;
    background-color: #f8f8f8;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
}


/* ---------------------question----------------------------- */
.event-email{
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}


.email-input {
    width: 100%;
    padding-right: 30px; /* make space for the icon */
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 4px;
    padding: 6px 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 25px;
    width: 220px;
    font-size: 13px;
    white-space: normal;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* ------------------------participants---------------------------- */
#email-list{
    list-style-type: circle;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    transition: all 0.3s ease-in-out;
    
}

.email-item{
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #f8f8f8;
    transition: all 0.3s ease-in-out;
}

.email-item:hover{
    background-color: #ccfb70;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

                            /* email popup */
.email-introduce-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.participants-popup-content {
    background-color: white;
    padding: 50px 30px 30px; /* Extra bottom padding for the button */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    color: #333;
    text-align: center;
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Close button inside content, centered */
.close-email-popup {
    margin-top: 30px;
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-email-popup:hover {
    background-color: #c0392b;
}

.close-email-popup:active {
    transform: scale(0.95);
}

.email-popup-content p{
    font-weight: bold;
}


/* --------------------------event time---------------------------- */

.event-type input[type="time"] {
    padding: 8px 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.event-type input[type="time"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* .calendar-day-date {
    transition: background-color 0.3s ease;
} */


/* ===============color picked day================== */
/* .calendar-day-date.picked {
  background-color: var(--curr-color);
  color: var(--white, #fff);
  border-radius: 30%;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  box-shadow: 0 0 5px var(--curr-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.calendar-day-date.picked:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--curr-color);
  transition: all 0.3s ease-in-out;
}

.calendar-day-date.picked.active {
  border: 2px solid var(--curr-color);
  background-color: var(--curr-color);
  color: var(--white, #fff);
}

.calendar-day-date.picked span {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  color: var(--curr-color);
} */

/* == */


.calendar-days div.picked,
.calendar-days div.picked:hover{
    background-color: var(--curr-color);
    color: var(--white);
    border-radius: 30%;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px var(--curr-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.calendar-days div.picked:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--curr-color);
}

.dark .calendar-days div.picked{
    background-color: red;
    color: var(--dark-text);
    box-shadow: 0 0 5px red;
}

.dark .calendar-days div.picked:hover{
    background-color: red;
    color: var(--dark-text);
    box-shadow: 0 0 20px rgb(255, 0, 0),
                0 0 30px #ff9999;
}

.calendar-days div.picked span{
    display: none;
}